!= partial('new.jade')
div.messages
  - if(posts.length)
    each item in posts
      div.row-fluid
        div.span3 #{item.created_at.toUTCString()}
        div
          strong #{item.user}:&nbsp;
          =item.body
  - else
    p No new messages