form(method="post", action="/posts", id="new-message")
  p
  input(name="user", type="text", placeholder="Enter name or remain anonymous", class="span4")
  p
  textarea(name="body", placeholder="You message", class="span4")
  p
  input(type="submit", value="Send", class="btn btn-primary")